body {
  margin: auto;

  .loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $white;
    background: url("../img/loading_gif.gif") 50% 50% no-repeat $white;
    background-position: center;
    z-index: 9999;
  }


  /*******************************************************************************************************************/
  /**************************************************À PROPOS*********************************************************/
  /*******************************************************************************************************************/
  main {
    padding: 100px;
    height: auto;
    background: url("../img/BackgroundFixed.png") center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    div.contenu {
      padding: 25px;
      width: 100%;
      h1 {
        font-family: $sub-title;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 40px;
        color: $color-sub-title;
      }
      p {
        color: $white;
        font-family: $text;
        font-size: 22px;
        line-height: 40px;
        font-weight: lighter;
      }
    }
    div.img {
      padding: 25px 50px;
    }
    img {
      width: 500px;
      height: auto;
    }
  }


  /*******************************************************************************************************************/
  /**************************************************MES COMPÉTENCES**************************************************/
  /*******************************************************************************************************************/

  section {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    .s1 {
      padding: 25px;
      h1 {
        font-family: $sub-title;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 40px;
        color: $color-sub-title;
      }
      //-----------------PANEL
      .panel {
        margin-bottom: 40px;
        width: 550px;
        background: $black;
        border-bottom: 1px solid #fff;
        box-shadow: 0 3px 1px -2px rgba(#000, .2),
        0 2px 2px 0 rgba(#000, .14),
        0 1px 5px 0 rgba(#000, .12);
        transition: 225ms cubic-bezier(.4, 0, .2, 1);

        .question {
          display: grid;
          grid-template-columns: 1fr auto;
          grid-gap: 1em;
          align-items: center;
          padding: 1em 2em;
          font-weight: 500;
          cursor: pointer;

          h2 {
            font-family: $sub-title;
            font-weight: normal;
            text-transform: uppercase;
            font-size: 25px;
            color: $white;
          }
          .material-icons {
            transition: transform 225ms;
            color: $white;
          }
        }

        .answer {
          font-family: $text;
          display: none;
          color: $white;
          line-height: 2;
          padding: 0 2em 1em;
        }

        &.open {
          margin: 0;
          border-bottom: none;

          .question .material-icons {
            transform: rotate(180deg);
          }
        }
      }
      .panel:hover{
        background-color: $color-sub-title;
      }
    }
    //-----------------LOGO LOGICIELS
    .s2 {
      padding: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        width:150px;
        height:150px ;
        padding: 20px;
      }
    }
    //-----------------CV
    .s3 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      span {
        font-family: $text;
        font-size: 25px;
        opacity: 0;
        color: $color-sub-title;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
      }
      img {
        opacity: 1;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
      }
      figure{
        background-color: $black;
        width: 341px;
        height: 362px;
      }
      figure:hover + span {
        opacity: 1;
      }
      a img:hover {
        opacity: .7;
      }
    }
  }
  /*******************************************************************************************************************/
  /**************************************************.reminder****************************************************/
  /*******************************************************************************************************************/

  .reminder {
    background: url("../img/BackgroundFixed.png") center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 45px;
    margin: 0;
    p {
      color: $white;
      font-family: $text;
      letter-spacing: 1px;
      font-size: 25px;
      padding-right: 100px;
    }
    a {
      button {
        text-transform: uppercase;
        color: $white;
        background-color: transparent;
        border: solid $color-sub-title 2px;
        text-decoration: none;
        font-family: $text;
        font-weight: 500;
        padding: 15px 25px;
        font-size: 20px;
        transition: .3s ease-in-out;
        outline: none;
      }
      button:hover {
        background-color: $color-sub-title;
        color: $white;
      }
    }
  }
  /*******************************************************************************************************************/
  /**************************************************Page numéro 2****************************************************/
  /*******************************************************************************************************************/
  aside {
    padding-top: 100px;
    h1 {
      color: $color-sub-title;
      font-family: $sub-title;
      text-transform: uppercase;
      font-size: 50px;
      margin: 0;
    }
  }

  article {
    margin: 100px 10%;
    .wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      img {
        border: solid $black 2px;
        width: 700px;
        height: 360px;
        transition: .2s ease-in-out;
      }
      div {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 25px;
        h1 {
          margin: 0;
          text-align: start;
          color: $black;
          font-family: $sub-title;
        }
        p:not(.BigText) {
          margin-top: 0;
          width: 440px;
          font-family: $text;
          color: $black;
        }
        button {
          text-transform: uppercase;
          color: $black;
          background-color: transparent;
          border: solid $black 2px;
          text-decoration: none;
          font-family: $text;
          font-weight: bold;
          padding: 15px 25px;
          transition: .3s ease-in-out;
          outline: none;
        }
        button:hover {
          border: solid transparent 2px;
          background-color: $black;
          color: $white;
        }
      }
    }
    .wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      img {
        border: solid $black 5px;
        width: 700px;
        height: 360px;
        transition: .2s ease-in-out;
        border-radius: 10px;
      }
      div {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 25px;
        h1 {
          margin: 0;
          text-align: start;
          color: $black;
          font-family: $sub-title;
        }
        p:not(.BigText) {
          margin-top: 0;
          width: 440px;
          font-weight: 600;
          font-family: $text;
          color: $black;
        }
        button {
          text-transform: uppercase;
          color: $black;
          background-color: transparent;
          border: solid $black 2px;
          text-decoration: none;
          font-family: $text;
          font-weight: bold;
          padding: 15px 25px;
          transition: .4s ease-in-out;
          outline: none;
          border-radius: 10px;
        }
        button:hover {
          border: solid transparent 2px;
          background-color: $black;
          color: $white;
        }
      }
    }
  }
  .none {
    top: -25px;
    bottom: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 9999;
    display: none;
    text-align: center;
    background: rgba(0, 0, 0, 0.99);
    position: fixed;
    padding: 25px;
    height: 100%;
    width: 100%;
    h1 {
      color: $white;
      text-align: center;
      margin: 7px 0;
      font-weight: 300;
    }
    h2 {
      color: $white;
      text-align: center;
      margin: 7px 0;
      font-weight: 200;
    }
    img {
      height: 486px;
      width: 1000px;
      border-radius: 10px;
    }
    div {
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      .BigText {
        margin: 0;
        width: 60%;
        font-family: $text;
        text-align: initial;
        padding: 0 100px;
        color: $white;
        line-height: 2.5;

        a {
          color: $white;
        }
      }
      .retourboutton {
        text-transform: uppercase;
        color: $white;
        background-color: transparent;
        border: solid $white 2px;
        border-radius: 10px;
        text-decoration: none;
        font-family: $text;
        font-weight: bold;
        padding: 15px 25px;
        transition: .3s ease-in-out;
        outline: none;
        .retourboutton:hover {
          background-color: $black;
          color: $color-sub-title;
          border: solid transparent 2px;
        }
      }
    }
  }
  #c {
    position: fixed;
    top: 0;
    z-index: -9999;
  }

  /*******************************************************************************************************************/
  /**************************************************gallery****************************************************/
  /*******************************************************************************************************************/

  :root {
    /* Base font size */
    font-size: 15px;
  }

  .container {
    max-width: 100rem;
    margin: 0 auto;
    padding: 100px;

    .gallery {
      display: flex;
      flex-wrap: wrap;
      margin: -1rem -1rem;

      .gallery-item {
        flex: 1 0 24rem;
        margin: 1rem;
        height: 460px;
        box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
        overflow: hidden;
        background-color: $black;
        position: relative;
        cursor: pointer;
        transition: ease-in-out 0.3s;

        .gallery-image {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 400ms ease-out;
        }
        .gallery-image:hover {
          opacity: 0.5;
          transform: scale(1.15);
        }
        .title {
          position: absolute;
          color: $white;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 25px;
          text-align: center;
          width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-shadow: 2px 2px 4px $black;
        }

        .hidden-top {
          position: absolute;
          top: 0;
          display: none;
          transition: ease-in-out 0.3s;
          p {
            background-color: $color-sub-title;
            padding: 5px;
            display: inline-block;
            color: $white;
            font-weight: normal;
            font-family: $text;
            margin: 10px 0 2px 10px;
          }
        }


        .hidden-bot {
          position: absolute;
          bottom: 0;
          text-align: center;
          width: 100%;
          padding-bottom: 20px;
          display: none;
          a {
            button {
              text-transform: uppercase;
              color: $white;
              background-color: $color-sub-title;
              border: solid $color-sub-title 2px;
              text-decoration: none;
              font-family: $text;
              font-weight: 500;
              padding: 15px 25px;
              font-size: 15px;
              transition: .3s ease-in-out;
              outline: none;
            }
            button:hover {
              opacity: 0.9;
            }
          }
        }
      }
      .gallery-item:hover .hidden-top{
        display: block;
      }
      .gallery-item:hover .hidden-bot{
        display: block;
      }
    }

    //-----------------SUPPORTS
    @supports (display: grid) {
      .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        grid-gap: 2rem;
      }

      .gallery,
      .gallery-item {
        margin: 0;
      }
    }

  }
}






































